<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongo Playground</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <style>
      #javascript-editor {
        height: 705px;
        width: 900;
      }

      #save {
        position: absolute;
        right: 21px;
        bottom: 21px;
        z-index: 5;
      }

      #run {
        position: absolute;
        right: 85px;
        bottom: 21px;
        z-index: 5;
      }

      div.columns {
        margin-top: 0;
        margin-bottom: 0 !important;
        margin-left: 0;
        margin-right: 0;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <button v-on:click="runCode" class="button" id="run">Run</button>
      <button v-on:click="addSnippet" class="button" id="save">Save</button>

      <div class="container">
        <div class="columns">
          <div class="column is-7">
            <input
              type="text"
              class="input"
              id="mongo_uri"
              v-model="mongo_uri"
            />
          </div>
          <div class="column is-1">
            <button class="button" v-on:click="addFavorites">Add</button>
          </div>
          <div class="column is-2">
            <div
              id="favorites"
              v-on:click="toggleFavorites"
              class="dropdown is-right"
              v-bind:class="dropdown"
            >
              <div class="dropdown-trigger">
                <button
                  class="button"
                  aria-haspopup="true"
                  aria-controls="dropdown-menu"
                >
                  <span>Favorites</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" role="menu">
                <div class="dropdown-content" id="dropdown-favorites">
                  <div
                    class="dropdown-item"
                    v-for="favorite in favorites"
                    v-bind:key="favorite"
                  >
                    <a v-on:click="setFavorite(favorite.id)">{{ favorite.name }}</a>
                    <span v-on:click="deleteFavorites(favorite.id)"
                      ><i class="fas fa-trash"></i
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-2">
            <div
              id="restore"
              v-on:click="toggleRestore"
              class="dropdown is-right"
              v-bind:class="dropdownRestore"
            >
              <div class="dropdown-trigger">
                <button
                  class="button"
                  aria-haspopup="true"
                  aria-controls="dropdown-menu"
                >
                  <span>Snippets</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" role="menu">
                <div class="dropdown-content" id="dropdown-favorites">
                  <div
                    class="dropdown-item"
                    v-for="snippet in snippets"
                    v-bind:key="snippet"
                  >
                    <a v-on:click="setSnippet(snippet.id)">{{
                      snippet.title
                    }}</a>
                    <span v-on:click="deleteSnippet(snippet.id)"
                      ><i class="fas fa-trash"></i
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="javascript-editor">
          const tags = await db.collection('tags').find({}).limit(1).toArray();
          console.log(tags)
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
      var ace = require("brace");
      require("brace/mode/javascript");
      require("brace/theme/monokai");
      const Services = require("./renderer.js");
      const prompt = require("electron-prompt");
      const randomstring = require("randomstring");

      const app = new Vue({
        el: "#app",
        data: {
          mongo_uri: "mongodb://localhost/test",
          favorites: [],
          snippets: [],
          dropdown: {
            "is-active": false
          },
          dropdownRestore: {
            "is-active": false
          }
        },
        methods: {
          runCode: function() {
            const code = this.editor.getValue();
            Services.Adapter.getMongoClient(this.mongo_uri)
              .then(client => {
                var db = client.db();
                eval(`async function main(db){${code}}; main(db);`);
              })
              .catch(error => {
                console.error(error);
              });
          },
          toggleRestore: function() {
            this.dropdownRestore["is-active"] = !this.dropdownRestore[
              "is-active"
            ];
          },
          toggleFavorites: function() {
            this.dropdown["is-active"] = !this.dropdown["is-active"];
          },
          addFavorites: function() {
            prompt({
              title: "Add to Favorites",
              label: "Name:",
              value: "localhost",
              inputAttrs: {
                type: "text"
              }
            })
              .then(name => {
                if (name === null) {
                  console.log("user cancelled");
                } else {
                  this.favorites.push({
                    name,
                    uri:this.mongo_uri,
                    id: randomstring.generate(5)
                  });
                  Services.store.set("favorites", this.favorites);
                  this.getFavorites();
                }
              })
              .catch(console.error);
          },
          getFavorites: function() {
            this.favorites = Services.store.get("favorites") || [];
            return this.favorites;
          },
          deleteFavorites: function(id) {
            this.favorites = this.favorites.filter(f => f !== id);
            Services.store.set("favorites", this.favorites);
          },
          setFavorite: function(id) {
            const favorites = this.favorites.filter(f => f.id === id);
            this.mongo_uri = favorites[0].uri;
          },
          addSnippet: function() {
            const code = this.editor.getValue();
            prompt({
              title: "Snippet Title",
              label: "Title:",
              value: "example 1",
              inputAttrs: {
                type: "text"
              }
            })
              .then(title => {
                if (title === null) {
                  console.log("user cancelled");
                } else {
                  this.snippets.push({
                    title,
                    code,
                    id: randomstring.generate(5)
                  });
                  Services.store.set("snippets", this.snippets);
                }
              })
              .catch(console.error);
          },
          getSnippet: function(favorite) {
            this.snippets = Services.store.get("snippets") || [];
            return this.snippets;
          },
          deleteSnippet: function(id) {
            this.snippets = this.snippets.filter(s => s.id !== id);
            Services.store.set("snippets", this.snippets);
          },
          setSnippet: function(id) {
            const snippet = this.snippets.filter(s => s.id === id);
            this.editor.setValue(snippet[0].code);
            this.editor.clearSelection();
          },
          init: function() {
            this.getFavorites();
            this.getSnippet();
            var editor = ace.edit("javascript-editor");
            editor.getSession().setMode("ace/mode/javascript");
            editor.setTheme("ace/theme/monokai");
            this.editor = editor;
          }
        },
        mounted() {
          this.init();
        }
      });
    </script>
  </body>
</html>
