li.ant-menu-item.ant-menu-item-selected {
  background-color: #2a2a2a !important;
}

.ant-layout-header {
  background-color: #2a2a2a !important;
}
.ant-menu-item {
  background-color: #2a2a2a !important;
}
